<a href="https://colab.research.google.com/github/SamSzamocki/SamSzamocki_playground/blob/main/Practicing_with_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [x**2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [ ]:
data = {'a': 1, 'b': 2, 'c': 3}
doubled_values = {k: v*2 for k, v in data.items()}
print(doubled_values)

{'a': 2, 'b': 4, 'c': 6}

In [ ]:
data = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
values_greater_than_two = {k: v for k, v in data.items() if v>2}
print(values_greater_than_two)

{'c': 3, 'd': 4}

In [ ]:
words = ["hello", "world", "python", "coding"]

upper_case = [x.upper() for x in words]
print(upper_case)

['HELLO', 'WORLD', 'PYTHON', 'CODING']

In [ ]:
numbers = [1, 2, 3, 4, 5]

add_five = [x+5 for x in numbers]
print(add_five)

[6, 7, 8, 9, 10]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
words = ["apple", "banana", "cherry"]

key_value = {k: len(k) for k in words}
print(key_value)

{'apple': 5, 'banana': 6, 'cherry': 6}

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers_squared = [k**2 for k in numbers]
print (numbers_squared)

sum(numbers_squared)

[1, 4, 9, 16, 25]

55

In [ ]:
names = ["Alice", "Bob", "Charlie", "David"]

three = [k for k in names if len(k)>3]
print(three)

['Alice', 'Charlie', 'David']

In [ ]:
data = {'a': 1, 'b': 2, 'c': 3}
data_doubled = {k: v*2 for k, v in data.items()}
print(data_doubled)

{'a': 2, 'b': 4, 'c': 6}

In [ ]:
numbers = [1, 2, 3, 4, 5]
for number in numbers:  # The colon indicates the start of the loop block
  print(number)       # This li

1
2
3
4
5